/* Home */
.d-body-wrap {
  background: $white;
  position: relative;
  margin: 10px;
  /* s = 600px, m = 600px, l = 992px, xl = 1200px */
  @media (min-width: 600px) {
    margin: 30px;
  }
  @media (min-width: 992px) {
    margin: 100px;
  }
}
/* Banner */
.banner-area {
  background: $white;
  .fullscreen {
    @media (max-width: 992px) {
      height: 850px !important;
    }
  }
  .banner-content {
    margin-top: 150px;
    @media (min-width: 600px) {
      margin-top: 0;
    }
    h1 {
      color: $black;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.15em;
      margin-bottom: 20px;
      @media (min-width: 992px) {
        font-size: 46px;
      }
      br {
        display: none;
        @media (min-width: 992px) {
          display: block;
        }
      }
    }
    p {
      margin-bottom: 40px;
      @media (min-width: 992px) {
        margin-bottom: 60px;
      }
      font-size: 16px;
      text-align: justify;
    }
  }
}
/* Nosotros */
.nosotros-area {
  position: relative;
  background: $primary-color;
  .nosotros-content {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      background: $white;
      display: none;
      height: 100%;
      border-radius: 5px 0 0 5px;
      /* s = 600px, m = 600px, l = 992px, xl = 1200px */
      @media (min-width: 600px) {
        display: block;
        width: 50px;
      }
      @media (min-width: 992px) {
        width: 70px;
      }
    }
    border-radius: 5px;
    background: $white;
    padding: 30px;
    @media (min-width: 600px) {
      padding: 30px 30px 30px 0;
      border-radius: 0 5px 5px 0;
    }
    @media (min-width: 992px) {
      padding: 20px 50px 20px 0;
      border-radius: 0 5px 5px 0;
    }
    h2 {
      color: $black;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.15em;
      margin-bottom: 10px;
    }
    p {
      text-align: justify;
      margin-bottom: 40px;
    }
  }
}
/* Personalizados */
.personalizado-area {
  background: $white;
  .personalizado-content {
    h2 {
      color: $black;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.15em;
      margin-bottom: 10px;
    }
    p {
      text-align: justify;
      margin-bottom: 40px;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    /* s = 600px, m = 600px, l = 992px, xl = 1200px */
    @media (min-width: 992px) {
      grid-template-columns: auto auto auto;
    }
  }
  .grid-item {
    margin: 0.3vh;
    padding: 5px;
    .img {
      width: 100%;
      height: 100%;
      @media (min-width: 1600px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}
/* Video */
.video-area {
  position: relative;
  background: url(../img/Fondos/17.jpeg) no-repeat center center/cover;
  .overlay-bg {
    background: rgba($primary-color, 0.8);
  }
  .modal .modal-content {
    padding: 0;
  }
  .video-container {
    /* position: relative; */
    padding-bottom: 56.25%;
    height: 100%;
    overflow: hidden;
  }
  .video-content {
    padding: 200px 0;
    text-align: center;
    position: relative;
    z-index: 2;
    a {
      display: inline-block;
      margin-bottom: 20px;
    }
    h3 {
      color: $white;
      font-weight: 600;
    }
  }
}
/* Tipo */
.tipo-area {
  background: $white;
  .tipo-content {
    h2 {
      color: $black;
      font-size: 30px;
      font-weight: 600;
      line-height: 1.15em;
      margin-bottom: 10px;
    }
  }
  .total-progress-bar {
    /* s = 600px, m = 600px, l = 992px, xl = 1200px */
    @media (min-width: 992px) {
      margin-top: 50px;
    }
  }
  .single-progressbar {
    background: #f9fcff;
    .progress-bar {
      background: $primary-color;
      height: 5px;
      line-height: 5px;
    }
  }
  p {
    text-align: justify;
    margin-bottom: 40px;
  }
  .tipo-text {
    text-transform: uppercase;
    margin: 14px 0;
  }
}
/* Carousel */
.carousel-area {
  position: relative;
  background: url(../img/Fondos/4.jpeg) no-repeat center center/cover;
  .overlay-bg {
    background: rgba($primary-color, 0.8);
  }
  .item-thumb {
    border-radius: 5px;
    overflow: hidden;
    .img {
      width: auto;
    }
  }
  .item-content {
    text-align: justify;
    margin-top: 50px;
    padding-right: 0;
    /* s = 600px, m = 600px, l = 992px, xl = 1200px */
    @media (min-width: 992px) {
      padding-right: 30px;
    }
    .item-title {
      color: $white;
      font-size: 30px;
      font-weight: 600;
    }
    .item-subtitle {
      color: $white;
      font-size: 16px;
    }
    .item-text {
      color: $white;
    }
  }
  .owl-dots {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: none;
    /* s = 600px, m = 600px, l = 992px, xl = 1200px */
    @media (min-width: 992px) {
      display: flex;
      /* align-items: center; */
      justify-content: center;
      flex-direction: column;
    }
    .owl-dot {
      width: 30px;
      height: 3px;
      background: rgba($white, 0.3);
      margin-bottom: 2vh;
      border-radius: 15px;
      transition: all 0.2s ease 0s;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        background: rgba($white, 1);
        width: 50px;
      }
    }
  }
}
/* Contacto */
.contacto-area {
  .contacto-title {
    color: $black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  input:not(.browser-default):focus:not([readonly]),
  textarea:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $primary-color;
    box-shadow: 0 1px 0 0 $primary-color;
  }
  input:not(.browser-default):focus:not([readonly]) + label,
  textarea:not(.browser-default):focus:not([readonly]) + label {
    color: $primary-color;
  }
  .contacto-info {
    text-align: left;
    .box-info {
      padding: 0 20px;
      margin-bottom: 3vh;
      margin-top: 3vh;
      h6 {
        text-transform: uppercase;
        font-weight: 700;
      }
      span {
        color: #bbb;
      }
    }
  }
  .bl1 {
    border-left: 4px solid #ff5733;
  }
  .bl2 {
    border-left: 4px solid #ffc30f;
  }
  .bl3 {
    border-left: 4px solid #900c3f;
  }
  .bb {
    border-bottom: 1px solid #E9E9E9;
}
}

/* Footer */
.page-footer {
  padding: 25px 0;
  color: #fff;
  background-color: $primary-color;
  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .alineacion {
    text-align: center;
    margin-top: 2vh;
    @media (min-width: 992px) {
      text-align: right;
      margin-top: 0;
    }
    .icons {
      color: #fff;
      font-size: 1.5em;
      margin-right: 2vh;
      margin-left: 2vh;
      vertical-align: middle;
      transition: all 0.2s ease 0s;
      &:hover {
        transition: all 0.2s ease 0s;
        transform: scale(1.4);
      }
    }
  }
  .empresa {
    color: white;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
  }
}
